
#header1{
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 100px;
    border-radius: 100px;
    
}

.gameSection{
    text-align: center;
    padding-top: 30px;
    margin-top: 100px;

}

#display{
    font-size: 100px;
    color: brown;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgoldenrod;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 100px;
    margin-top: 20px;
    border-radius: 100%;
}

.displayCount{
    font-size: 20px;
    color:darkblue;
}

.resetButton{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 73, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(128, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.resetButton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



